// Widths
.border-1 {
  border-style: solid;
  border-width: 1px;
}
.border-2 {
  border-style: solid;
  border-width: 2px;
}
.border-3 {
  border-style: solid;
  border-width: 3px;
}
.border-4 {
  border-style: solid;
  border-width: 4px;
}

// Colors
.border-n900 {
  border-color: $color-n900;
}

.border-n800 {
  border-color: $color-n800;
}

.border-n700 {
  border-color: $color-n700;
}

.border-n600 {
  border-color: $color-n600;
}

.border-n500 {
  border-color: $color-n500;
}

.border-n400 {
  border-color: $color-n400;
}

.border-n300 {
  border-color: $color-n300;
}

.border-n200 {
  border-color: $color-n200;
}

.border-n100 {
  border-color: $color-n100;
}

.border-n0 {
  border-color: $color-n0;
}
