.field-outer-container {
  position: relative;
}

.field-outer-container-inline {
  display: inline-flex;
  align-items: top;

  .field-label-wrapper {
    height: $sizer-md;
    margin-right: $spacer-xs;

    [data-label] {
      width: auto;
    }
  }
}

.field-input-wrapper {
  position: relative;
}

.field-icon-content {
  position: absolute;
  top: 0;
  width: $sizer-md;
  height: $sizer-md;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: var(--color-text-3);

  &.left {
    left: $spacer-xxs / 2;
  }

  &.right {
    right: $spacer-xxs / 2;
  }

  svg {
    width: $sizer-small-icon;
    height: $sizer-small-icon;
  }
}
