.bg-1 {
  background-color: var(--color-background-1);
}
.bg-2 {
  background-color: var(--color-background-2);
}
.bg-3 {
  background-color: var(--color-background-3);
}
.bg-4 {
  background-color: var(--color-background-4);
}
.bg-5 {
  background-color: var(--color-background-5);
}
.bg-critical {
  background-color: var(--color-r700);
}
.bg-success {
  background-color: var(--color-g200);
}
.bg-neutral {
  background-color: var(--color-n200);
}

// .n900 {
//   background-color: $color-n900;
// }

// .n800 {
//   background-color: $color-n800;
// }

// .n700 {
//   background-color: $color-n700;
// }

// .n600 {
//   background-color: $color-n600;
// }

// .n500 {
//   background-color: $color-n500;
// }

// .n400 {
//   background-color: $color-n400;
// }

// .n300 {
//   background-color: $color-n300;
// }

// .n200 {
//   background-color: $color-n200;
// }

// .n100 {
//   background-color: $color-n100;
// }

// .n90 {
//   background-color: $color-n90;
// }

// .n80 {
//   background-color: $color-n80;
// }

// .n70 {
//   background-color: $color-n70;
// }

// .n60 {
//   background-color: $color-n60;
// }

// .n50 {
//   background-color: $color-n50;
// }

// .n40 {
//   background-color: $color-n40;
// }

// .n30 {
//   background-color: $color-n30;
// }

// .n20 {
//   background-color: $color-n20;
// }

// .n10 {
//   background-color: $color-n10;
// }

// .n0 {
//   background-color: $color-n0;
// }

// .r600 {
//   background-color: $color-r600;
// }

// .r500 {
//   background-color: $color-r500;
// }

// .r400 {
//   background-color: $color-r400;
// }

// .r300 {
//   background-color: $color-r300;
// }

// .r200 {
//   background-color: $color-r200;
// }

// .r100 {
//   background-color: $color-r100;
// }

// .r50 {
//   background-color: $color-r50;
// }

// .g600 {
//   background-color: $color-g600;
// }

// .g500 {
//   background-color: $color-g500;
// }

// .g400 {
//   background-color: $color-g400;
// }

// .g300 {
//   background-color: $color-g300;
// }

// .g200 {
//   background-color: $color-g200;
// }

// .g100 {
//   background-color: $color-g100;
// }

// .g50 {
//   background-color: $color-g50;
// }

// .b600 {
//   background-color: $color-b600;
// }

// .b500 {
//   background-color: $color-b500;
// }

// .b400 {
//   background-color: $color-b400;
// }

// .b300 {
//   background-color: $color-b300;
// }

// .b200 {
//   background-color: $color-b200;
// }

// .b100 {
//   background-color: $color-b100;
// }

// .b50 {
//   background-color: $color-b50;
// }
