.n900 {
  background-color: $color-n900;
}

.n800 {
  background-color: $color-n800;
}

.n700 {
  background-color: $color-n700;
}

.n600 {
  background-color: $color-n600;
}

.n500 {
  background-color: $color-n500;
}

.n400 {
  background-color: $color-n400;
}

.n300 {
  background-color: $color-n300;
}

.n200 {
  background-color: $color-n200;
}

.n100 {
  background-color: $color-n100;
}

.n90 {
  background-color: $color-n90;
}

.n80 {
  background-color: $color-n80;
}

.n70 {
  background-color: $color-n70;
}

.n60 {
  background-color: $color-n60;
}

.n50 {
  background-color: $color-n50;
}

.n40 {
  background-color: $color-n40;
}

.n30 {
  background-color: $color-n30;
}

.n20 {
  background-color: $color-n20;
}

.n10 {
  background-color: $color-n10;
}

.n0 {
  background-color: $color-n0;
}
