.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inline-flex-centered {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
