.focus {
  box-shadow: 0 0 0 rem(2) var(--color-focus) !important;
}

.focus-input {
  border: solid rem(1) var(--color-focus) !important;
  box-shadow: 0 0 0 rem(1) var(--color-focus) !important;
}

.focus-outline {
  outline: solid rem(2) var(--color-focus) !important;
}
