.shadow-xl {
  box-shadow: $shadow-xl;
}

.shadow-lg {
  box-shadow: $shadow-lg;
}

.shadow-md {
  box-shadow: $shadow-md;
}

.shadow-sm {
  box-shadow: $shadow-sm;
}

.shadow-xs {
  box-shadow: $shadow-xs;
}
