@import "../../styles/variables.scss";

[data-placeholder] {
  background: linear-gradient(
    90deg,
    var(--color-placeholder-1),
    var(--color-placeholder-2),
    var(--color-placeholder-1)
  );
  background-size: 400% 200%;
  animation: gradient 4s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 400% 50%;
  }

  50% {
    background-position: 200% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
