@import "../../styles/variables.scss";

[data-button] {
  @include button-reset;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  background: transparent;
  transform: scale(1);
  transition: background-color 150ms ease-in-out, transform 75ms ease-in-out;

  &:focus {
    z-index: 1;
  }

  .fit-container {
    width: 100%;
  }

  &.active:not(.link) {
    transform: scale(0.98);
  }

  // ========= Sizes ==============
  &.size-sm {
    &:not(.link) {
      height: $sizer-sm;
    }

    .button-icon > svg {
      width: rem(16);
      height: rem(16);
    }
  }

  &.size-md {
    &:not(.link) {
      height: $sizer-md;
    }

    .button-icon > svg {
      width: rem(16);
      height: rem(16);
    }
  }

  &.size-lg {
    &:not(.link) {
      height: $sizer-lg;
    }

    .button-icon > svg {
      width: rem(20);
      height: rem(20);
    }
  }

  // ========= Appearances ==============
  &.default {
    background-color: rgba(var(--color-n900-rgb), 0.05);
    color: var(--color-n700);

    @include hover {
      background-color: rgba(var(--color-n900-rgb), 0.08);
      color: var(--color-n700);
    }
  }

  &.primary {
    background-color: var(--color-primary);
    color: var(--color-text-white);

    @include hover {
      background-color: var(--color-primary-hover);
    }

    &.active {
      background-color: var(--color-primary-active) !important;
    }

    .button-icon {
      color: var(--color-text-white);
      opacity: 0.8;
    }
  }

  &.secondary {
    background-color: rgba(var(--color-g600-rgb), 0.15);
    color: var(--color-g900);

    @include hover {
      background-color: rgba(var(--color-g600-rgb), 0.2);
    }

    &.active {
      background-color: rgba(var(--color-g600-rgb), 0.35) !important;
    }

    .button-icon {
      color: var(--color-g800);
      opacity: 0.8;
    }

    [data-theme="dark"] & {
      background-color: rgba(var(--color-g100-rgb), 0.05);
      color: var(--color-g300);

      .button-icon {
        color: var(--color-g300);
        opacity: 0.8;
      }
    }
  }

  &.critical {
    background-color: var(--color-r700);
    color: $color-n0;

    @include hover {
      background-color: var(--color-r600);
    }

    &.active {
      background-color: var(--color-r800) !important;
    }

    .button-icon {
      color: $color-n0;
      opacity: 0.8;
    }
  }

  &.subtle {
    background-color: transparent;
    color: var(--color-n700);

    @include hover {
      background-color: rgba(var(--color-n900-rgb), 0.05);
      color: var(--color-n700);
    }

    &[disabled] {
      background-color: transparent;
    }
  }

  &.link {
    color: var(--color-link);

    @include hover {
      text-decoration: underline;
    }

    .button-icon {
      color: var(--color-link);
      opacity: 0.75;
    }

    &[disabled] {
      background: transparent;
    }
  }

  // Keep disabled rule at the bottom because it overrides any other colors
  // for buttons like primary and critical
  &[disabled] {
    background-color: rgba(var(--color-n900-rgb), 0.025);
    color: var(--color-text-disabled) !important;
    cursor: not-allowed !important;

    .button-icon {
      color: var(--color-button-icon-disabled);
    }
  }

  // ========= Button inner components ==============

  .spin-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .inner-wrap {
    flex: 1 1 auto;
    pointer-events: none;
    align-self: center;
    flex-wrap: nowrap;
    max-width: 100%;
    opacity: 1;
    transition: opacity 200ms ease-in-out;

    &.is-loading {
      opacity: 0;
    }
  }

  .button-icon {
    color: var(--color-button-icon);

    &.icon-left {
      margin-right: rem(3);
    }

    &.icon-right {
      margin-left: rem(3);
    }
  }
}
