@import "../../styles/variables.scss";

[data-button] {
  @include button-reset;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  background: transparent;
  transform: scale(1);
  transition: background-color $ui-transition-speed ease-in-out,
    transform 75ms ease-in-out;

  &:focus {
    z-index: 1;
  }

  .fit-container {
    width: 100%;
  }

  &.active:not(.link) {
    transform: scale(0.98);
  }

  // ========= Sizes ==============
  &.size-sm {
    &:not(.link) {
      height: $sizer-sm;
    }

    .button-icon > svg {
      width: rem(16);
      height: rem(16);
    }
  }

  &.size-md {
    &:not(.link) {
      height: $sizer-md;
    }

    .button-icon > svg {
      width: rem(16);
      height: rem(16);
    }
  }

  &.size-lg {
    &:not(.link) {
      height: $sizer-lg;
    }

    .button-icon > svg {
      width: rem(20);
      height: rem(20);
    }
  }

  // ========= Appearances ==============
  &.default {
    background-color: var(--color-default);
    color: var(--color-default-foreground);

    @include hover {
      background-color: var(--color-default-hover);
    }

    &.active {
      background-color: var(--color-default-active) !important;
    }
  }

  &.primary {
    background-color: var(--color-primary);
    color: var(--color-primary-foreground);

    @include hover {
      background-color: var(--color-primary-hover);
    }

    &.active {
      background-color: var(--color-primary-active) !important;
    }
  }

  &.secondary {
    background-color: var(--color-secondary);
    color: var(--color-secondary-foreground);

    @include hover {
      background-color: var(--color-secondary-hover);
    }

    &.active {
      background-color: var(--color-secondary-active) !important;
    }
  }

  &.critical {
    background-color: var(--color-critical);
    color: var(--color-critical-foreground);

    @include hover {
      background-color: var(--color-critical-hover);
    }

    &.active {
      background-color: var(--color-critical-active) !important;
    }
  }

  &.subtle {
    background-color: transparent;
    color: var(--color-default-foreground);

    @include hover {
      background-color: var(--color-default);
    }

    &[disabled] {
      background-color: transparent;
    }
  }

  &.link {
    color: var(--color-text-1);
    font-weight: $font-medium;
    text-decoration: none;
    background-position: 0 0;
    background-image: linear-gradient(
      to top,
      var(--color-link-underline),
      var(--color-link-underline) 0.15em,
      transparent 0.15em,
      transparent
    );
    transition: background-color $ui-transition-speed ease;

    @include hover {
      background-color: var(--color-link-underline);
    }

    &[disabled] {
      background: transparent;
    }
  }

  // Keep disabled rule at the bottom because it overrides any other colors
  // for buttons like primary and critical
  &[disabled] {
    opacity: 0.75;
    background-color: var(--color-default);
    color: var(--color-text-disabled) !important;
    cursor: not-allowed !important;
  }

  // ========= Button inner components ==============

  .spin-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .inner-wrap {
    flex: 1 1 auto;
    pointer-events: none;
    align-self: center;
    flex-wrap: nowrap;
    max-width: 100%;
    opacity: 1;
    transition: opacity 200ms ease-in-out;

    &.is-loading {
      opacity: 0;
    }
  }

  .button-icon {
    opacity: 0.75;

    &.icon-left {
      margin-right: rem(3);
    }

    &.icon-right {
      margin-left: rem(3);
    }
  }
}
