@import "../../styles/variables.scss";

[data-icon-button] {
  outline: none; // handled by useFocusRing
  appearance: none;
  box-shadow: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  width: auto;
  text-decoration: none;
  font-family: $font-family-sans;
  border: 0;
  cursor: pointer;
  overflow: hidden;
  background: transparent;
  padding: 0;
  transform: scale(1);
  transition: background-color $ui-transition-speed ease-in-out,
    transform 75ms ease-in-out;

  &.focus {
    z-index: 1;
  }

  &.active:not(.link) {
    transform: scale(0.95);
  }

  // ========= Sizes ==============
  &.size-xs {
    &:not(.link) {
      width: $sizer-xs;
      height: $sizer-xs;
    }

    .button-icon > svg {
      width: rem(24/1.75);
      height: rem(24/1.75);
    }
  }

  &.size-sm {
    &:not(.link) {
      width: $sizer-sm;
      height: $sizer-sm;
    }

    .button-icon > svg {
      width: rem(24/1.5);
      height: rem(24/1.5);
    }
  }

  &.size-md {
    &:not(.link) {
      width: $sizer-md;
      height: $sizer-md;
    }

    .button-icon > svg {
      width: rem(24/1.25);
      height: rem(24/1.25);
    }
  }

  &.size-lg {
    &:not(.link) {
      width: $sizer-lg;
      height: $sizer-lg;
    }

    .button-icon > svg {
      width: rem(24);
      height: rem(24);
    }
  }

  // ========= Appearances ==============
  &.default {
    background-color: rgba(var(--color-n900-rgb), 0.05);
    color: var(--color-n600);

    @include hover {
      background-color: rgba(var(--color-n900-rgb), 0.08);
      color: var(--color-n650);
    }
  }

  &.primary {
    background-color: var(--color-primary);
    color: $color-n0;

    @include hover {
      background-color: var(--color-primary-hover);
    }

    &:active {
      background-color: var(--color-primary-active);
    }

    .button-icon {
      color: $color-n0;
      opacity: 0.8;
    }
  }

  &.critical {
    background-color: var(--color-critical);
    color: $color-n0;

    @include hover {
      background-color: var(--color-critical-hover);
    }

    &:active {
      background-color: var(--color-critical-active);
    }

    .button-icon {
      color: var(--color-text-white);
      opacity: 0.8;
    }
  }

  &.subtle {
    background-color: transparent;
    color: var(--color-n600);

    @include hover {
      background-color: rgba(var(--color-n900-rgb), 0.05);
      color: var(--color-n650);
    }

    &[disabled] {
      background-color: transparent;
    }
  }

  &.link {
    color: var(--color-link);

    @include hover {
      background-color: rgba(var(--color-n900-rgb), 0.05);
    }

    &[disabled] {
      background: transparent;
    }
  }

  // Keep disabled rule at the bottom because it overrides any other colors
  // for buttons like primary and critical
  &[disabled] {
    background-color: var(--color-button-background-disabled);
    color: var(--color-text-disabled) !important;
    cursor: not-allowed !important;

    .button-icon {
      color: var(--color-n500);
      opacity: 0.5;
    }
  }
}
