@import "../../styles/variables.scss";

[data-button][data-icon-button] {
  // ========= Sizes ==============
  &.size-xs {
    &:not(.link) {
      width: $sizer-xs;
      height: $sizer-xs;
    }

    .button-icon > svg {
      width: rem(24/1.75);
      height: rem(24/1.75);
    }
  }

  &.size-sm {
    &:not(.link) {
      width: $sizer-sm;
      height: $sizer-sm;
    }

    .button-icon > svg {
      width: rem(24/1.5);
      height: rem(24/1.5);
    }
  }

  &.size-md {
    &:not(.link) {
      width: $sizer-md;
      height: $sizer-md;
    }

    .button-icon > svg {
      width: rem(24/1.25);
      height: rem(24/1.25);
    }
  }

  &.size-lg {
    &:not(.link) {
      width: $sizer-lg;
      height: $sizer-lg;
    }

    .button-icon > svg {
      width: rem(24);
      height: rem(24);
    }
  }
}
