@import "../../styles/variables.scss";

@keyframes toast-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes toast-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

[data-toast] {
  position: relative;
  background-color: var(--color-toast);
  max-width: rem(500);
  min-width: rem(340);
  padding: $spacer-xs;
  padding-right: $spacer-lg;
  pointer-events: auto;
  animation: toast-in 300ms;

  &.out {
    animation: toast-out 250ms;
  }

  [data-toast-icon-wrap] {
    position: relative;
    width: $sizer-md;
    height: $sizer-md;

    border-radius: $sizer-md;
    color: $color-n0;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: rem(20);
      height: rem(20);
    }

    &.success {
      background-color: var(--color-success);
    }

    &.error {
      background-color: var(--color-critical);
    }
  }

  [data-toast-clear] {
    position: absolute;
    top: rem(2);
    right: rem(4);

    [data-icon-button] {
      @include hover {
        color: rgba(var(--color-n0-rgb), 0.8);
        background-color: rgba(var(--color-n500-rgb), 0.1);
      }

      [data-theme="dark"] & {
        color: var(--color-n400);
      }
    }
  }

  [data-toast-message] {
    color: var(--color-n0);
  }
  [data-toast-description] {
    color: var(--color-n200);
    line-height: 1.3;
  }
}
