:root {
  --color-background-1: #{$color-n0};
  --color-background-2: #{$color-n50};
  --color-background-3: #{$color-n100};

  --color-text-1: #{$color-n1000};
  --color-text-2: #{$color-n900};
  --color-text-3: #{$color-n800};
  --color-text-4: #{$color-n600};
  --color-text-placeholder: #{rgba($color-n500, 0.8)};
  --color-text-disabled: #{$color-n400};
  --color-text-white: #{$color-n0};
  --color-text-reverse: #{$color-n0};

  --color-link-underline: #{$color-p200};

  --color-active-1: #{$color-p600};
  --color-active-2: #{$color-p700};

  --color-primary: #{$color-p700};
  --color-primary-hover: #{$color-p800};
  --color-primary-active: #{$color-p900};
  --color-primary-foreground: #{$color-n0};

  --color-secondary: #{rgba($color-p700, 0.12)};
  --color-secondary-hover: #{rgba($color-p700, 0.17)};
  --color-secondary-active: #{rgba($color-p700, 0.25)};
  --color-secondary-foreground: #{$color-p900};

  --color-default: #{rgba($color-n900, 0.07)};
  --color-default-hover: #{rgba($color-n900, 0.11)};
  --color-default-active: #{rgba($color-n900, 0.25)};
  --color-default-foreground: #{$color-n800};

  --color-neutral-darken: #{rgba($color-n900, 0.07)};
  --color-neutral-lighten: #{rgba($color-n0, 0.25)};

  --color-critical-light: #{$color-c400};
  --color-critical: #{$color-c500};
  --color-critical-hover: #{$color-c600};
  --color-critical-active: #{$color-c700};
  --color-critical-foreground: #{$color-n0};

  --color-toast: #{$color-n1000};

  --color-disabled: #{rgba($color-n900, 0.1)};

  --color-border: #{$color-n200};
  --color-border-strong: #{$color-n500};
  --color-border-subtle: #{$color-n100};

  --color-success: #{$color-g500};

  --color-placeholder-1: #{$color-n50};
  --color-placeholder-2: #{$color-n100};

  --color-input: #{$color-n0};
  --color-input-hover: #{rgba($color-n900, 0.07)};
  --color-input-active: #{$color-n0};
  --color-input-border: #{$color-n200};

  --color-switch: #{rgba($color-n600, 0.25)};

  --color-sidebar: #{$color-p950};
  --color-sidebar-hover: #{$color-p900};
  --color-sidebar-foreground: #{$color-p300};
  --color-sidebar-title-foreground: #{$color-p200};
  --color-sidebar-active: #{$color-p800};

  --color-focus: #{$color-focus};

  --color-shadow-rgb: #{hexToRgb($color-n1000)};
}

[data-theme="dark"] {
  --color-background-1: #{$color-n950};
  --color-background-2: #{$color-n900};
  --color-background-3: #{$color-n800};

  --color-text-1: #{$color-n0};
  --color-text-2: #{$color-n100};
  --color-text-3: #{$color-n200};
  --color-text-4: #{$color-n300};
  --color-text-placeholder: #{rgba($color-n600, 0.8)};
  --color-text-disabled: #{$color-n500};
  --color-text-white: #{$color-n0};
  --color-text-reverse: #{$color-n1000};

  --color-link-underline: #{$color-p700};

  --color-active-1: #{$color-p600};
  --color-active-2: #{$color-p700};

  --color-primary: #{$color-p700};
  --color-primary-hover: #{$color-p800};
  --color-primary-active: #{$color-p900};
  --color-primary-foreground: #{$color-n0};

  --color-secondary: #{rgba($color-n0, 0.1)};
  --color-secondary-hover: #{rgba($color-n0, 0.15)};
  --color-secondary-active: #{rgba($color-n0, 0.05)};
  --color-secondary-foreground: #{$color-n100};

  --color-default: #{rgba($color-n0, 0.1)};
  --color-default-hover: #{rgba($color-n0, 0.15)};
  --color-default-active: #{rgba($color-n0, 0.05)};
  --color-default-foreground: #{$color-n100};

  --color-neutral-darken: #{rgba($color-n0, 0.15)};
  --color-neutral-lighten: #{rgba($color-n1000, 0.25)};

  --color-critical-light: #{$color-c400};
  --color-critical: #{$color-c500};
  --color-critical-hover: #{$color-c600};
  --color-critical-active: #{$color-c700};
  --color-critical-foreground: #{$color-n0};

  --color-toast: #{$color-n0};

  --color-disabled: #{rgba($color-n100, 0.1)};

  --color-border: #{$color-n800};
  --color-border-strong: #{$color-n600};
  --color-border-subtle: #{$color-n900};

  --color-success: #{$color-g500};

  --color-placeholder-1: #{rgba($color-n900, 0.5)};
  --color-placeholder-2: #{rgba($color-n800, 0.5)};

  --color-input: #{$color-n900};
  --color-input-hover: #{$color-n850};
  --color-input-active: #{$color-n950};
  --color-input-border: #{$color-n900};

  --color-switch: #{rgba($color-n400, 0.25)};

  --color-sidebar: #{$color-n1000};

  --color-focus: #{$color-focus};

  --color-shadow-rgb: 9, 18, 27;
}
