:root {
  --color-n900: #{$color-n900};
  --color-n900-rgb: #{hexToRgb($color-n900)};
  --color-n800: #{$color-n800};
  --color-n800-rgb: #{hexToRgb($color-n800)};
  --color-n700: #{$color-n700};
  --color-n700-rgb: #{hexToRgb($color-n700)};
  --color-n650: #{$color-n650};
  --color-n650-rgb: #{hexToRgb($color-n650)};
  --color-n600: #{$color-n600};
  --color-n600-rgb: #{hexToRgb($color-n600)};
  --color-n500: #{$color-n500};
  --color-n500-rgb: #{hexToRgb($color-n500)};
  --color-n400: #{$color-n400};
  --color-n400-rgb: #{hexToRgb($color-n400)};
  --color-n300: #{$color-n300};
  --color-n300-rgb: #{hexToRgb($color-n300)};
  --color-n200: #{$color-n200};
  --color-n200-rgb: #{hexToRgb($color-n200)};
  --color-n100: #{$color-n100};
  --color-n100-rgb: #{hexToRgb($color-n100)};
  --color-n0: #{$color-n0};
  --color-n0-rgb: #{hexToRgb($color-n0)};

  --color-g900: #{$color-g900};
  --color-g900-rgb: #{hexToRgb($color-g900)};
  --color-g800: #{$color-g800};
  --color-g800-rgb: #{hexToRgb($color-g800)};
  --color-g700: #{$color-g700};
  --color-g700-rgb: #{hexToRgb($color-g700)};
  --color-g600: #{$color-g600};
  --color-g600-rgb: #{hexToRgb($color-g600)};
  --color-g500: #{$color-g500};
  --color-g500-rgb: #{hexToRgb($color-g500)};
  --color-g400: #{$color-g400};
  --color-g400-rgb: #{hexToRgb($color-g400)};
  --color-g300: #{$color-g300};
  --color-g300-rgb: #{hexToRgb($color-g300)};
  --color-g200: #{$color-g200};
  --color-g200-rgb: #{hexToRgb($color-g200)};
  --color-g100: #{$color-g100};
  --color-g100-rgb: #{hexToRgb($color-g100)};

  --color-r900: #{$color-r900};
  --color-r800: #{$color-r800};
  --color-r700: #{$color-r700};
  --color-r600: #{$color-r600};
  --color-r500: #{$color-r500};
  --color-r400: #{$color-r400};
  --color-r300: #{$color-r300};
  --color-r200: #{$color-r200};
  --color-r100: #{$color-r100};

  --color-text-1: var(--color-n900);
  --color-text-2: var(--color-n800);
  --color-text-3: var(--color-n700);
  --color-text-4: var(--color-n650);
  --color-text-placeholder: var(--color-n500);
  --color-text-disabled: var(--color-n400);

  --color-shadow-rgb: var(--color-n900-rgb);

  --color-primary: var(--color-g800);
  --color-primary-hover: var(--color-g700);
  --color-primary-active: var(--color-g900);

  --color-link: var(--color-g800);
  --color-link-hover: var(--color-g700);
  --color-link-active: var(--color-g900);

  --color-text-white: #fff;
  --color-text-disabled: #a5adba;
  --color-text-danger: #c62828;
  --color-text-success: #e3ebe3;
  --color-text-info: #1565c0;

  --color-border: var(--color-n400);
  --color-border-strong: var(--color-n600);
  --color-border-subtle: var(--color-n300);

  --color-focus: rgb(76, 154, 255);

  // --color-danger: #c62828;
  // --color-danger-hover: #d32f2f;
  // --color-danger-active: #b71c1c;
  // --color-button-text: #253858;
  // --color-button-background: rgba(9, 30, 66, 0.04);
  // --color-button-background-hover: rgba(9, 30, 66, 0.08);
  // --color-button-background-disabled: rgba(9, 30, 66, 0.03);
  // --color-button-icon: rgb(122, 134, 154);
  // --color-button-icon-disabled: rgba(9, 30, 66, 0.2);

  // --color-shadow-0: rgba(9, 30, 66, 0.5);
  // --color-shadow-1: rgba(9, 30, 66, 0.7);
  // --color-shadow-2: rgba(9, 30, 66, 0.14);
  // --color-shadow-3: rgba(9, 30, 66, 0.28);
}

[data-theme="dark"] {
  --color-n900: #{$color-n0};
  --color-n900-rgb: #{hexToRgb($color-n0)};
  --color-n800: #{$color-n100};
  --color-n800-rgb: #{hexToRgb($color-n100)};
  --color-n700: #{$color-n200};
  --color-n700-rgb: #{hexToRgb($color-n200)};
  --color-n650: #{$color-n300};
  --color-n650-rgb: #{hexToRgb($color-n300)};
  --color-n600: #{$color-n300};
  --color-n600-rgb: #{hexToRgb($color-n300)};
  --color-n500: #{$color-n400};
  --color-n500-rgb: #{hexToRgb($color-n400)};
  --color-n400: #{$color-n500};
  --color-n400-rgb: #{hexToRgb($color-n500)};
  --color-n300: #{$color-n600};
  --color-n300-rgb: #{hexToRgb($color-n600)};
  --color-n200: #{$color-n700};
  --color-n200-rgb: #{hexToRgb($color-n700)};
  --color-n100: #{$color-n800};
  --color-n100-rgb: #{hexToRgb($color-n800)};
  --color-n0: #{$color-n900};
  --color-n0-rgb: #{hexToRgb($color-n900)};

  --color-g900: #{$color-gs900};
  --color-g900-rgb: #{hexToRgb($color-gs900)};
  --color-g800: #{$color-gs800};
  --color-g800-rgb: #{hexToRgb($color-gs800)};
  --color-g700: #{$color-gs700};
  --color-g700-rgb: #{hexToRgb($color-gs700)};
  --color-g600: #{$color-gs600};
  --color-g600-rgb: #{hexToRgb($color-gs600)};
  --color-g500: #{$color-gs500};
  --color-g500-rgb: #{hexToRgb($color-gs500)};
  --color-g400: #{$color-gs400};
  --color-g400-rgb: #{hexToRgb($color-gs400)};
  --color-g300: #{$color-gs300};
  --color-g300-rgb: #{hexToRgb($color-gs300)};
  --color-g200: #{$color-gs200};
  --color-g200-rgb: #{hexToRgb($color-gs200)};
  --color-g100: #{$color-gs100};
  --color-g100-rgb: #{hexToRgb($color-gs100)};

  --color-shadow-rgb: 0, 0, 0;

  --color-primary: var(--color-g800);
  --color-primary-hover: var(--color-g700);
  --color-primary-active: var(--color-g900);

  --color-link: var(--color-g500);
  --color-link-hover: var(--color-g400);
  --color-link-active: var(--color-g600);

  --color-background-1: var(--color-n0);
  --color-background-2: var(--color-n100);
  --color-text-1: rgb(250, 251, 252);
  --color-text-2: rgb(193, 199, 208);
  --color-text-3: rgb(165, 173, 186);
  --color-text-white: #fff;
  --color-text-disabled: rgba(250, 251, 252, 0.3);
  --color-text-danger: #c62828;
  --color-text-success: #2e7d32;
  --color-text-info: #1565c0;
  // --color-link: #64b5f6;
  --color-focus: rgb(76, 154, 255);

  --color-danger: #c62828;
  --color-danger-hover: #d32f2f;
  --color-danger-active: #b71c1c;
  --color-button-text: rgb(250, 251, 252);
  --color-button-background: rgba(250, 251, 252, 0.15);
  --color-button-background-hover: rgba(250, 251, 252, 0.2);
  --color-button-background-disabled: rgba(250, 251, 252, 0.1);
  --color-button-icon: rgb(193, 199, 208);
  --color-button-icon-disabled: rgba(193, 199, 208, 0.5);
  --color-border: #505f79;
  --color-border-strong: #c1c7d0;
  --color-border-subtle: #253858;
  --color-shadow-0: rgba(0, 0, 0, 0.5);
  --color-shadow-1: rgba(0, 0, 0, 0.7);
  --color-shadow-2: rgba(0, 0, 0, 0.85);
  --color-shadow-3: rgba(0, 0, 0, 1);
}
