@import "utils/rem";
@import "utils/px";
@import "utils/grid-utils";
@import "utils/hide-input";
@import "utils/breakpoint-utils";
@import "utils/hover";
@import "utils/hexToRgb";

// ======== COLORS ============

$color-n900: #031c42;
$color-n800: #293e5e;
$color-n700: #405370;
$color-n650: #69778c;
$color-n600: #728095;
$color-n500: #a3acba;
$color-n400: #d1d5dc;
$color-n300: #e4e7eb;
$color-n200: #f0f1f4;
$color-n100: #f7f8f9;
$color-n0: #fff;

// // Dark neutrals
// $color-n900: #091e42;
// $color-n800: #172b4d;
// $color-n700: #253858;
// $color-n600: #344563;
// $color-n500: #42526e;
// // Mid-neutrals
// $color-n400: #505f79;
// $color-n300: #5e6c84;
// $color-n200: #6b778c;
// $color-n100: #7a869a;
// $color-n90: #8993a4;
// $color-n80: #97a0af;
// $color-n70: #a5adba;
// $color-n60: #b3bac5;
// // Light neutrals
// $color-n50: #c1c7d0;
// $color-n40: #dfe1e6;
// $color-n30: #ebecf0;
// $color-n20: #f4f5f7;
// $color-n10: #fafbfc;
// $color-n0: #ffffff;

// Reds
$color-r900: #752338;
$color-r800: #9b304b;
$color-r700: #c23458;
$color-r600: #de4e72;
$color-r500: #f56c8e;
$color-r400: #fc8da9;
$color-r300: #febccc;
$color-r200: #ffdbe4;
$color-r100: #fcf3f5;

$color-r-accent: #fb2358;

// Greens
$color-g900: #004e4e;
$color-g800: #096565;
$color-g700: #118282;
$color-g600: #439c9c;
$color-g500: #6cb4b4;
$color-g400: #9acdcd;
$color-g300: #c2e1e1;
$color-g200: #e1f2f2;
$color-g100: #f3fafa;

$color-g-accent: #24c6c6;

// Green-saturated
$color-gs900: #00474c;
$color-gs800: #016468;
$color-gs700: #0a8083;
$color-gs600: #37a1a3;
$color-gs500: #61bfbf;
$color-gs400: #86d5d5;
$color-gs300: #a7e2e2;
$color-gs200: #ccefef;
$color-gs100: #eafafa;

// Blues
$color-b900: #0d47a1;
$color-b800: #1565c0;
$color-b700: #1976d2;
$color-b600: #1e88e5;
$color-b500: #2196f3;
$color-b400: #42a5f5;
$color-b300: #64b5f6;
$color-b200: #90caf9;
$color-b100: #bbdefb;
$color-b50: #e3f2fd;

// ======== NAMED COLORS ============

$color-border: $color-n200;
$color-border-light: $color-n100;
$color-border-dark: $color-n700;

$color-text-dark: $color-n900;
$color-text-dark-gray: $color-n500;
$color-text-gray: $color-n200;
$color-text-disabled: $color-n500;
$color-text-red: $color-r800;
$color-text-green: $color-g800;
$color-text-blue: $color-b800;

$color-link: $color-b800;

$color-focus: rgb(76, 154, 255);

// ======== TYPOGRAPHY ============
$font-light: 200;
$font-thin: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-heavy: 800;
$font-black: 900;

$base-font-size: 14; // Unitless because used in calculations
$baseline-grid: 4; // Unitless because used in calculations
$heading-line-height: 1.1; // Unitless because used in calculations
$text-line-height: 1.55; // Unitless because used in calculations

// Different type scales for different breakpoints
$type-scale-lg: 1.25;
$type-scale-md: 1.2;
$type-scale-sm: 1.125;

// ======== BORDER-RADII ============
$border-radius-sm: rem(3);
$border-radius-md: rem(4);
$border-radius-lg: rem(6);
$border-radius-xl: rem(8);

// ======== BOX-SHADOWS ============

$shadow-xs: 0 rem(1) rem(2) 0 rgba(var(--color-shadow-rgb), 0.2);

$shadow-sm: 0 rem(2) rem(4) 0 rgba(var(--color-shadow-rgb), 0.15),
  0 rem(1) rem(3) 0 rgba(var(--color-shadow-rgb), 0.12);

$shadow-md: 0 rem(4) rem(8) rem(-1) rgba(var(--color-shadow-rgb), 0.22),
  0 rem(2) rem(5) rem(-1) rgba(var(--color-shadow-rgb), 0.12);

$shadow-lg: 0 rem(10) rem(15) rem(-3) rgba(var(--color-shadow-rgb), 0.22),
  0 rem(4) rem(6) rem(-2) rgba(var(--color-shadow-rgb), 0.1);

$shadow-xl: 0 rem(20) rem(25) rem(-5) rgba(var(--color-shadow-rgb), 0.22),
  0 rem(10) rem(10) rem(-5) rgba(var(--color-shadow-rgb), 0.08);

$shadow-xxl: 0 rem(25) rem(50) rem(-12) rgba(var(--color-shadow-rgb), 0.5),
  0 rem(14) rem(20) rem(-5) rgba(var(--color-shadow-rgb), 0.08);

// ======== BREAKPOINTS ============

// Flex-Grid Breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: rem(425);
$breakpoint-md: rem(768);
$breakpoint-lg: rem(1025);
$breakpoint-xl: rem(1600);

// Minimum dimensions at which your layout will change
$grid-breakpoints: (
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl,
) !default;

// ======== SPACING & GUTTERS ============

$global-spacer: rem(4);
$spacer-xxs: $global-spacer;
$spacer-xs: $global-spacer * 2;
$spacer-sm: $global-spacer * 3;
$spacer-md: $global-spacer * 5;
$spacer-lg: $global-spacer * 8;
$spacer-xl: $global-spacer * 12;
$spacer-xxl: $global-spacer * 24;

$spacers: (
  none: 0,
  xxs: $spacer-xxs,
  xs: $spacer-xs,
  sm: $spacer-sm,
  md: $spacer-md,
  lg: $spacer-lg,
  xl: $spacer-xl,
  xxl: $spacer-xxl,
);

$gutters: $spacers !default;

// =========== GRID ==========
$grid-columns: 12 !default;
$grid-gutter-width: $spacer-md !default;
$grid-row-columns: 6 !default;

// ======== SIZES ============

$sizer-xxs: $global-spacer * 3; // 12px
$sizer-xs: $global-spacer * 4; // 16px
$sizer-sm: $global-spacer * 6; // 24px
$sizer-md: $global-spacer * 8; // 32px
$sizer-lg: $global-spacer * 10; // 40px
$sizer-xl: $global-spacer * 16; // 64px
$sizer-xxl: $global-spacer * 20; // 80px

$sizers: (
  none: 0,
  xxs: $sizer-xxs,
  xs: $sizer-xs,
  sm: $sizer-sm,
  md: $sizer-md,
  lg: $sizer-lg,
  xl: $sizer-xl,
  xxl: $sizer-xxl,
);

// ======== TYPE ============
$font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;

// ======== Z-indexes ============
$z-index-toast: 900;
