@import "../../styles/variables.scss";

@keyframes rotateKeyframes {
  to {
    transform: rotate(0);
  }
  from {
    transform: rotate(-360deg);
  }
}

[data-spinner] {
  pointer-events: none;
  position: relative;

  circle {
    stroke-linecap: round;
    stroke: var(--color-border);
    fill: transparent;
    transform-origin: center;
    animation: rotateKeyframes 700ms linear infinite;
    // transition: stroke-dasharray 350ms ease-in, stroke 350ms ease-in;

    &.white {
      stroke: $color-n0;
    }

    &.primary {
      stroke: var(--color-active-1);
    }

    &.dark-gray {
      stroke: var(--color-text-4);
    }

    &.success {
      stroke: var(--color-success) !important;
    }

    &.error {
      stroke: var(--color-critical) !important;
    }
  }

  .icon-wrap {
    position: absolute;
    top: 0;
    left: 0;
  }

  .success-icon {
    fill: var(--color-success);
  }

  .error-icon {
    fill: var(--color-critical);
  }
}
