@import "../../styles/variables.scss";

[data-select] {
  .field-input-wrapper {
    position: relative;
  }

  select {
    outline: none;
    width: 100%;
    appearance: none;
    border: solid rem(1) var(--color-border);
    height: $sizer-md;
    background-color: var(--color-input);
    font-family: $font-family-sans;
    // transition-property: border, box-shadow;
    // transition-duration: $ui-transition-speed;
    // transition-timing-function: ease-in-out;
    cursor: pointer;

    @include hover {
      background-color: var(--color-input-hover);
    }

    &::-ms-expand {
      display: none;
    }

    &.invalid {
      border-color: var(--color-critical);
    }

    &[disabled] {
      opacity: 0.5;
      background-color: var(--color-disabled);
      color: var(--color-text-disabled);
      cursor: not-allowed;
    }

    // make placeholder gray
    &:invalid {
      color: var(--color-text-placeholder);
    }
  }

  [data-select-icon] {
    pointer-events: none;
    position: absolute;
    right: $spacer-xxs;
    top: 0;
    width: rem(20);
    height: $sizer-md;
    color: var(--color-default-foreground);

    &.disabled {
      opacity: 0.5;
    }
  }
}
