@import "../../styles/variables.scss";

[data-link] {
  outline: 0;
  color: var(--color-text-1);
  font-weight: $font-medium;
  text-decoration: none;
  border-bottom: solid rem(2) var(--color-link-underline);
  // background-position: 0 0;
  // background-image: linear-gradient(
  //   to top,
  //   var(--color-link-underline),
  //   var(--color-link-underline) 0.15em,
  //   transparent 0.15em,
  //   transparent
  // );
  transition: background-color $ui-transition-speed ease;

  @include hover {
    background-color: var(--color-link-underline);
  }

  &.focus {
    box-shadow: 0 0 0 rem(2) var(--color-focus) !important;
    border-bottom: 0;
    border-radius: rem(1);
  }
}
