@import "../../styles/variables.scss";

[data-link] {
  color: var(--color-text-1);
  font-weight: $font-medium;
  text-decoration: none;
  background-position: 0 0;
  background-image: linear-gradient(
    to top,
    var(--color-link-underline),
    var(--color-link-underline) 0.15em,
    transparent 0.15em,
    transparent
  );
  transition: background-color $ui-transition-speed ease;

  @include hover {
    background-color: var(--color-link-underline);
  }
}
